@import "../assets/common.scss";

body{
  background-color: #eee;
}

h1{
  font-size: 26px;
  .logo{
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(/static/img/logo.png);
    background-size: 100%;
  }
}

