body{
  background-color: #fff;
}

h1{
  flex: 1;
  font-size: 28px;
  .logo{
    background: url(../assets/logo.png);
    background-size: 100%;
    display: inline-block;
    width: 30px;
    height: 30px;
  }
}

